<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>About</title>
</head>

<body>
    <section class="hero is-medium is-success">
        <div class="hero-body">
            <p class="title">About this site</p>
            <p class="subtitle">semua orang bisa lihat</p>
        </div>
    </section>
</body>

</html>