<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>Secret</title>
</head>

<body>
    <section class="hero is-medium is-success">
        <div class="hero-body">
            <p class="title">Secret site</p>
            {% if username %}
            <p class="subtitle">Ini adalah laman rahasia nya <b>{{username}}</b></p>
            {% else %}
            <p class="subtitle">halaman ini rahasia sekali</p>
            <img src="{{url_for('static', filename='secret.gif')}}">
            {% endif %}
        </div>
    </section>
    
</body>

</html>